{% extends "control_estudios/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de cursos</h1>
    <a href="{% url 'crear_curso' %}">Crear curso</a>
    <br><br>
    <form action="{% url 'buscar_cursos' %}" method="post">
      {% csrf_token %}
      <input type="text" name="busqueda">
      <input type="submit" value="Buscar por comision">
    </form>
    <br>

    <table class="table">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Comision</th>
          <th></th>
          <th></th>
        </tr>
        {% for curso in cursos %}
        <tr>
          <td>{{ curso.id }}</td>
          <td>{{ curso.nombre }}</td>
          <td>{{ curso.comision }}</td>
          <td>
            <a href="{% url 'editar_curso' curso.id %}">Editar</a>
          </td>
          <td>
            {% if user == curso.creador %}
            <form action="{% url 'eliminar_curso' curso.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="eliminar"/>
            </form
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>
{% endblock contenido %}
